<section data-ng-controller="RutinasController" data-ng-init="mostrarEjercicios()">
    <div class="page-header">
        <h1>Nueva Rutina</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <div class="controls">
                      <input type="text" data-ng-model="nombre" id="nombre" class="form-control" placeholder="Nombre" required>
                      <input type="text" data-ng-model="objetivo" id="objetivo" class="form-control" placeholder="Objetivo" required>
                      <input type="text" data-ng-model="descripcion" id="descripcion" class="form-control" placeholder="Descripcion" required>
                      <input type="text" data-ng-model="nSemanas" id="nSemanas" class="form-control" placeholder="Número de semanas que repetirá la rutina" required>
                    </div>

                    <h3>Añadir ejercicios</h3>
                    <select class="form-control" name="" data-ng-model="ejercicio" ng-options="ejercicio as ejercicio.nombre for ejercicio in ejercicios track by ejercicio._id" required>
                      <option value="ejercicio.nombre">{{ejercicio}}</option>
                    </select>

                    <input type="text" data-ng-model="repeticiones" placeholder="Repeticiones/minutos">
                    <input type="button" ng-click="addEjercicio()" value="Añadir">


                </div>

                <div class="row" ng-show="listaEj.length">
                  <h3>Ejercicios que vas a añadir al siguiente día: </h3>
                  <div class="col-lg-2 col-xs-4 col-md-3 ejercicios" data-ng-repeat="ejercicio in listaEj track by $index">
                    <span>{{ejercicio.ejercicio.nombre}} - {{ejercicio.repeticiones}}</span>
                    <img ng-src="{{ejercicio.ejercicio.foto}}" alt="foto_ejercicio" />
                  </div>
                </div>




                <h3 ng-show="listaEj.length">Añadir Día</h3>
                <input ng-show="listaEj.length" type="button" ng-click="addDia()" value="Añadir Día">

                <h3>Días añadidos</h3>
                <div class="row" data-ng-repeat="ejercicios in dia track by $index">
                  <h3>Día {{$index + 1}}: </h3>
                  <div class="col-lg-2 ejercicios" data-ng-repeat="ejercicio in ejercicios track by $index">
                    <span>{{ejercicio.ejercicio.nombre}} - {{ejercicio.repeticiones}}</span>
                    <!-- <img ng-src="{{ejercicios.foto}}" alt="foto" /> -->
                  </div>
                </div>


                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Guardar">
                </div>

      				<div data-ng-show="error" class="text-danger">
      					<strong data-ng-bind="error"></strong>
      				</div>
            </fieldset>
        </form>
    </div>
</section>
