<div class="container" data-ng-controller="HeaderController">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="/#!/" class="navbar-brand">gimnasioIntegrado</a>
	</div>
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
		<!-- <ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
			<li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
				<a ng-switch-when="dropdown" class="dropdown-toggle">
					<span data-ng-bind="item.title"></span>
					<b class="caret"></b>
				</a>
				<ul ng-switch-when="dropdown" class="dropdown-menu">
					<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
						<a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
					</li>
				</ul>
				<a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
			</li>
		</ul> -->

		<!-- menú para clientes o gente sin logear -->
		<ul class="nav navbar-nav" data-ng-show="authentication.user.roles[0] === 'cliente'">
			<li ui-route="/tarifas" ng-class="{active: $uiRoute}">
				<a href="/#!/tarifas">Ver tarifas</a>
			</li>
			<li ui-route="/actividades" ng-class="{active: $uiRoute}">
				<a href="/#!/actividades">Horario actividades</a>
			</li>
			<li ui-route="/misDatos" ng-class="{active: $uiRoute}">
				<a href="/#!/misDatos">Mis datos</a>
			</li>
			<li ui-route="/miRutina" ng-class="{active: $uiRoute}">
				<a href="/#!/miRutina">Mi Rutina</a>
			</li>
		</ul>


		<!-- Menú para admin -->
		<ul class="nav navbar-nav" data-ng-show="authentication.user.roles[0] === 'admin'">
			<li ui-route="/socios" ng-class="{active: $uiRoute}">
				<a href="/#!/socios">Socios</a>
			</li>
			<li ui-route="/tarifas" ng-class="{active: $uiRoute}">
				<a href="/#!/tarifas">Tarifas</a>
			</li>
			<li ui-route="/ejercicios" ng-class="{active: $uiRoute}">
				<a href="/#!/ejercicios">Ejercicios</a>
			</li>
			<li ui-route="/rutinas" ng-class="{active: $uiRoute}">
				<a href="/#!/rutinas">Rutinas</a>
			</li>
		</ul>


		<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
			<li ui-route="/signup" ng-class="{active: $uiRoute}">
				<a href="/#!/signup">Sign Up</a>
			</li>
			<li class="divider-vertical"></li>
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<a href="/#!/signin">Sign In</a>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span data-ng-bind="authentication.user.username"></span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/#!/settings/profile">Edit Profile</a>
					</li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password">Change Password</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Cerrar sesión</a>
					</li>
				</ul>
			</li>
		</ul>

	</nav>
</div>
