<div class="container cabecera" data-ng-controller="HeaderController">
	<!-- data-ng-init="mostrarSocioCore();" -->
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a id="botonHome" href="/#!/" class="navbar-brand">
			Gimnasio Integrado
			<!-- <img alt="brand" src="modules/core/img/logointegralBlanco.png"> -->
		</a>
	</div>
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">

		<!-- menú para clientes -->
		<ul class="nav navbar-nav" data-ng-show="authentication.user.roles[0] === 'cliente'">
			<li ui-route="/tarifas" ng-class="{active: $uiRoute}">
				<a href="/#!/tarifas">Ver tarifas</a>
			</li>
			<li ui-route="/actividades" ng-class="{active: $uiRoute}">
				<a href="/#!/actividades">Horario actividades</a>
			</li>
			<li ui-route="/misDatos" ng-class="{active: $uiRoute}">
				<a href="/#!/socios/{{socioUser._id}}/edit">Mis datos</a>
			</li>
			<li ui-route="/miRutina" ng-class="{active: $uiRoute}">
				<!-- mejorable: -->
				<a href="/#!/rutinas/{{socioUser.rutina || sinrutina}}">Mi Rutina</a>
			</li>
		</ul>


		<!-- Menú para admin -->
		<ul class="nav navbar-nav" data-ng-show="authentication.user.roles[0] === 'admin'">
			<li ui-route="/socios" ng-class="{active: $uiRoute}">
				<a href="/#!/socios">Socios</a>
			</li>
			<li ui-route="/tarifas" ng-class="{active: $uiRoute}">
				<a href="/#!/tarifas">Tarifas</a>
			</li>
			<li ui-route="/ejercicios" ng-class="{active: $uiRoute}">
				<a href="/#!/ejercicios">Ejercicios</a>
			</li>
			<li ui-route="/rutinas" ng-class="{active: $uiRoute}">
				<a href="/#!/rutinas">Rutinas</a>
			</li>
		</ul>


		<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
			<li ui-route="/signup" ng-class="{active: $uiRoute}">
				<a href="/#!/signup">Registrarse</a>
			</li>
			<li class="divider-vertical"></li>
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<a href="/#!/signin">Inicie sesión</a>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span data-ng-bind="authentication.user.username"></span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/#!/settings/profile">Editar perfil</a>
					</li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password">Cambiar Contraseña</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Cerrar sesión</a>
					</li>
				</ul>
			</li>
		</ul>

	</nav>
</div>
