<section id="main" data-ng-controller="HomeController">

		<div class="row" id="logo">
			<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-3 col-xs-12">
				<h3>Gimnasio Integrado</h3>
			</div>
		</div>
		<br>

		<div id="captioned-gallery">
			<figure class="slider">
				<figure>
					<img src="modules/core/img/slider1.jpg" alt>
					<figcaption>Ponte en forma y siéntente orgulloso de tu esfuerzo.</figcaption>
				</figure>
				<figure>
					<img src="modules/core/img/slider2.jpg" alt>
					<figcaption>En nuestra sala de pesas no tendrás excusas nunca mas.</figcaption>
				</figure>
				<figure>
					<img src="modules/core/img/slider3.jpg" alt>
					<figcaption>Haz que la alimentación no sea un lastre, acuda a nuestros expertos.</figcaption>
				</figure>
				<figure>
					<img src="modules/core/img/slider4.jpg" alt>
					<figcaption>Nuestras zonas de agua le harán disfrutar del deporte.</figcaption>
				</figure>
			</figure>
		</div>

		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-4 col-sm-offset-3 col-xs-12">
			<p class="lead">
			<strong>E</strong>n el corazón de Sevilla se situa Gimnasio Integrado, el gimnasio de los sevillanos de verdad.
				En el Gimnasio Integrado podrás disfrutar de las mejores instalaciones deportivas.<br>
				No es un gimnasio normal, es un gimnasio familiar. No tardarás en integrarte en el...</p>
			</p>
			</div>
			<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-3 col-xs-12">
				<h3 id="logoInterno">Gimnasio Integrado</h3>
			</div>
		</div>

		<div class="row">


		</div>



	<div class="row">
		<div class="col-md-3">
			<h2>
				<strong>A</strong>ctividades
			</h2>
			<p>
				Gran variedad de actividades dirigidas. Monitores altamente cualificados al servicio de que te diviertas
				poniéndote en forma.<a href="javascript:void(0)" ng-click="mostrarActividades();">Ver Actividades</a>
			</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>I</strong>nstalaciones
			</h2>
			<p>
				Salas de la mas alta calidad. Deje el saltar contenedores de basura a los payasos de la tele.
				<a href="javascript:void(0)" ng-click="mostrarInstalaciones()">Ver Instalaciones</a>
			</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>T</strong>arifas
			</h2>
				<p>
					Que se adaptan a todos los bolsillos. Ofertas a grupos y familias.<a href="javascript:void(0)" ng-click="mostrarTarifas();">Ver Tarifas</a>
				</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>H</strong>orario
			</h2>
				<p>
					Acude a la hora que mejor te venga.<a href="javascript:void(0)" ng-click="mostrarHorario();">Ver Horario</a>
				</p>
		</div>
	</div>

		<div class="row" collapse="actividadesOculta">
			<div class="col-md-offset-2 col-md-8">
				<button class="btn btn-success btn-lg" type="button" name="button" ng-click="mostrarHorarioActividades();">Ver horario de actividades</button>
				<div class="row" collapse="horarioActividadesOculta">
					<div class="col-md-12">
						<div class="table responsive">
							<table class="table">
								<thead>
									<tr>
										<th>
											Horas
										</th>
										<th>
											Lunes
										</th>
										<th>
											Martes
										</th>
										<th>
											Miércoles
										</th>
										<th>
											Jueves
										</th>
										<th>
											Viernes
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											10:00-11:00
										</td>
										<td class="spinning">
											Spinning
										</td>
										<td>

										</td>
										<td>

										</td>
										<td>

										</td>
										<td class="spinning">
											Spinning
										</td>
									</tr>

									<tr>
										<td>
											11:00-12:00
										</td>
										<td>

										</td>
										<td class="gap">
											GAP
										</td>
										<td>

										</td>
										<td class="spinning">
											Spinning
										</td>
										<td>

										</td>
									</tr>

									<tr>
										<td>
											12:00-13:00
										</td>
										<td class="tonificacion">
											Tonificación
										</td>
										<td>

										</td>
										<td  class="spinning">
											Spinning
										</td>
										<td>

										</td>
										<td>

										</td>
									</tr>
									<tr>
										<td>
											17:00-18:00
										</td>
										<td class="zumba">
											Zumba
										</td>
										<td>

										</td>
										<td>

										</td>
										<td>

										</td>
										<td>

										</td>
									</tr>
									<tr>
										<td>
											18:00-19:00
										</td>
										<td class="pilates">
											Pilates
										</td>
										<td class="zumba">
											Zumba
										</td>
										<td class="pilates">
											Pilates
										</td>
										<td class="zumba">
											Zumba
										</td>
										<td class="pilates">
											Pilates
										</td>
									</tr>
									<tr>
										<td>
											19:00-20:00
										</td>
										<td class="spinning">
											Spinning
										</td>
										<td class="abdominales">
											Abdominales
										</td>
										<td class="spinning">
											Spinning
										</td>
										<td class="abdominales">
											Abdominales
										</td>
										<td class="spinning">
											Spinning
										</td>
									</tr>
									<tr>
										<td>
											20:00-21:00
										</td>
										<td class="power">
											Power
										</td>
										<td class="spinning">
											Spinning
										</td>
										<td class="power">
											Power
										</td>
										<td class="spinning">
											Spinning
										</td>
										<td>

										</td>
									</tr>
								</tbody>

							</table>

						</div>

					</div>

				</div>

					<h2>Actividades</h2>
					<div class="row">
						<div class="col-md-12">
							<h3>Spinning</h3>
							<p>
								El spining es una maravillo programa de ejericicios en bicicleta que aporta un gran desafio, aunque apto para todos los públicos.
								Clases divertidas sin demasiado impacto para las articulaciones. Ideal si quieres divertirte y oir música con mucha marcha.
								Nada que ver con estar solo en tu casa con la bicicleta estática. Haz una hora de ejercicio intenso que se te pasará volando.
							</p>
							<div class="col-md-offset-2 col-md-8 well well-lg">
								<img src="modules/core/img/spinning.jpg" class="img-responsive center-block" alt="_spining" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<h3>Power</h3>
							<p>
								El POWER, fortalece, tonifica y define la musculatura de todo el cuerpo a través de la combinación de técnicas de musculación y de
								 ejercicios fisioterapéuticos que determinan una mejora notable en la postura corporal.
								POWER esta diseñado para conseguir que los alumnos obtengan de sus sesiones de entrenamiento
								de fuerza, los máximos beneficios en el menor tiempo posible. Permite ver resultados rápidamente, al tiempo que te diviertes entrenando.
							</p>
							<div class="col-md-offset-2 col-md-8 well well-lg">
								<img src="modules/core/img/power.jpg" class="img-responsive center-block" alt="_power" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<h3>Pilates</h3>
							<p>
								El método Pilates, o simplemente Pilates, es un sistema de entrenamiento físico y mental creado a principios del siglo XX por el
								alemán Joseph Hubertus Pilates, quien lo ideó basándose en su conocimiento de distintas especialidades como gimnasia, traumatología, ballet o yoga, uniendo el dinamismo
								 y la fuerza muscular con el control mental, la respiración y la relajación.
								En sus principios fue llamado por el propio Pilates Contrología (Contrology), debido a que recalca el uso de la mente para
								 controlar el cuerpo, pero buscando el equilibrio y la unidad entre ambos.
							</p>
							<div class="col-md-offset-2 col-md-8 well well-lg">
								<img src="modules/core/img/pilates.jpg" class="img-responsive center-block" alt="_pilates" />
							</div>
						</div>
					</div>
			</div>
		</div>

		<div class="row" collapse="instalacionesOculta">
			<div class="col-md-8 col-md-offset-2 well well-lg">
				<img src="modules/core/img/gym.jpg" class="img-responsive center-block" alt="_sala" />
			</div>
		</div>

		<div class="row" collapse="tarifasOculta">
			<div class="col-md-8 col-md-offset-2 well well-lg">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>
								Tarifa
							</th>
							<th>
								Duración
							</th>
							<th>
								Precio
							</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="tarifa in tarifas">
							<td>
								{{tarifa.nombre}}
							</td>
							<td>
								{{tarifa.duracion}} meses
							</td>
							<td>
								{{tarifa.precio | number: 2}}€
							</td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>

		<div class="row" collapse="horarioOculta">
			<div class="col-md-6 col-md-offset-3 well well-lg">
				<h3>Lunes a viernes de 7 a 23 horas</h3>
				<h3>Sábados de 9 a 18</h3>
				<h3>Domingos de 9 a 14</h3>
			</div>

		</div>


</section>
