
@font-face {
  font-family: 'kaushan';
  src: url('../fonts/KaushanScript-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}




.content {
	margin-top: 50px;
}


.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.ng-table {
	width: 100%;
}

.ng-table > thead > tr > th {
	text-align: left;
	border-bottom: 1px solid #c8c8c8;
}

.ng-table > tbody > tr > th, .ng-table > tfoot > tr > th, .ng-table > thead > tr > td, .ng-table > tbody > tr > td, .ng-table > tfoot > tr > td {
	height: 50px;
	border-bottom: 1px solid #e8e8e8;
}

.ng-table-filters {
	height: 60px;
}

.ng-table-filters .filter {
	vertical-align: top;
}

.ng-table > thead > tr > th {
	padding-bottom: 0;
	padding-top : 0;
}

.actions {
	margin-bottom: 30px;
}

.table-actions {
	width: 130px;
}

.ejercicios img{
	width: 100%;
	height: 100px;
}

.ejerciciosVista{
	padding-bottom: 80px;
}

.ejRutina img {
	width: 100%;
	height: 100px;
}

header img{
	width: 25px;
	height: 25px;
}

body, html{
	background-color: #E6E6E6;
}


#logo{
}


#logo h3{
	font-family: 'kaushan';
	padding-left: 10%;
	padding-top: 8%;
	height: 100px;
	background: url("../img/logointegral.png") no-repeat scroll 0% 0% / 15% 100%;
	text-align: center;
}

h2{
    margin: 0;
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;
}
.item{
    background: #333;
    text-align: center;
    height: 300px !important;
}
.carousel{
    margin-top: 20px;
}
.bs-example{
	margin: 20px;
}
