
@font-face {
  font-family: 'kaushan';
  src: url('../fonts/KaushanScript-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}




.content {
	margin-top: 50px;
}


.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.ng-table {
	width: 100%;
}

.ng-table > thead > tr > th {
	text-align: left;
	border-bottom: 1px solid #c8c8c8;
}

.ng-table > tbody > tr > th, .ng-table > tfoot > tr > th, .ng-table > thead > tr > td, .ng-table > tbody > tr > td, .ng-table > tfoot > tr > td {
	height: 50px;
	border-bottom: 1px solid #e8e8e8;
}

.ng-table-filters {
	height: 60px;
}

.ng-table-filters .filter {
	vertical-align: top;
}

.ng-table > thead > tr > th {
	padding-bottom: 0;
	padding-top : 0;
}

.actions {
	margin-bottom: 30px;
}

.table-actions {
	width: 130px;
}

.ejercicios img{
	width: 100%;
	height: 100px;
}

.ejerciciosVista{
	padding-bottom: 80px;
}

.ejerciciosVista img{
  width: 100%;
  height: 150px;
}

.ejRutina img {
	width: 100%;
	height: 100px;
}

header img{
	width: 25px;
	height: 25px;
}

body, html{
	background-color: #E6E6E6;
}

#logo h3{
	font-family: 'kaushan';
	padding-left: 10%;
	padding-top: 8%;
	height: 100px;
	background: url("../img/logointegral.png") no-repeat scroll 0% 0% / 15% 100%;
	text-align: center;
}

/****************************************************************************
*****************************************************************************
********************************SLIDER***************************************
*****************************************************************************
****************************************************************************/
@-webkit-keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -300%; }
}

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -300%; }
}

#captioned-gallery {
    overflow: hidden;
    box-shadow: 0 0 5px #ccc;
    border: solid #fff 5px;
    left: -5px;
    background: #fff;
    width: 75%;
    margin: 0 auto;
}

figure {
  margin: 0;
}

figure.slider {
  position: relative;
  width: 400%;
  font-size: 0;
  animation: 20s slidy infinite;
  -webkit-animation: 30s slidy infinite;

}

figure.slider figure {
  width: 25%;
  height: auto;
  display: inline-block;
  position: relative;
}

figure.slider img {
  width: 100%;
  height: 400px;
}

figure.slider figure figcaption {
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  color: #fff; width: 100%;
  font-size: 1.2rem;
  margin-bottom: 0rem;
  text-align: center;
  height: 20%;
  padding-top: 3%;
  font-size: 2rem;
}
